@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bubble {
    0% {
      transform: translateY(0);
      opacity: 0.7;
    }
    100% {
      transform: translateY(-30px);
      opacity: 0;
    }
  }
  
 
   